/** base **/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
  /* for the fixed nav bar */
  padding-top: 50px;
}

.navbar-nav>li>a {
  font-size: 18px;
}

.jumbotron {
  background: url('../img/back-1.jpg') repeat center center;
  position: relative;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: #000;
  color: #777;
}

.jumbotron-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 300px;
  text-align: center;
  color: #fff;
}
.line-styled li {
  margin: 4px 4px 4px 0;
}

.line-styled li:after {
  content: "";
  display: block;
  height: 1px;
  width: 25%;
  background: #5a5a5a;
}

.line-styled li:last-child:after {
  background: none;
}

.main h2 {
  border-bottom: 1px solid #5a5a5a;
  margin-bottom: 10px;
}

/** right column **/
.block {
  margin-bottom: 30px;
}
.block li {
  margin-bottom: 5px;
}

.more {
  font-size: 12px;
}

.blog-teaser {
  float: left;
  position: relative;
  width: 350px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/** Trying an overlay with CSS **/

.blog-teaser-image {
  position: relative;
}

.blog-teaser-image .overlay {
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}

.blog-teaser-image:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  width: 350px;
  height: 122px;
  text-align: center;
}
.overlay-text {
  position: absolute;
  bottom: 0px;
  width: 350px;
  height: 61px;
}

.overlay-text h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #9f9f9f;
}
/** end overlay **/

.blog-meta-data span:before {
  display: inline-block;
  content: "|";
  padding: 0 7px 0 4px;
  color: #9f9f9f;
}
.blog-post .blog-meta-data {
  margin-bottom: 5px;
}

.blog-post .blog-meta-data {
  font-weight: bold;
}

.blog-meta-data span:first-child:before {
  display: none;
  padding: 0;
}

.breadcrumb {
  padding: 0px 0px;
  background-color: transparent;
  margin-top: 20px;
}

.comment {
  padding: 1px 5px 5px 10px;
}

.comment:nth-child(odd) {
  background-color: #f5f5f5;
}
.comment-meta-data {
  margin-bottom: 5px;
}

.comment-meta-data .name {
  font-weight: bold;
}

.featurette-color {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}

.featurette-nocolor {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featurette-images {
  text-align: center;
}

.featurette-header {
  text-align:center;
  position: relative;
  text-align: center;
}

.featurette-header h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.featurette-header h2:before {
  right: 65%;
}

.featurette-header h2:before, .featurette-header h2:after {
  display: inline-block;
  content: "";
  border-bottom: 1px solid #9f9f9f;
  position: absolute;
  width: 80px;
  top: 0;
  height: 15px;
}

.featurette-header h2:after {
  left: 65%;
}

.featurette-image-small {
  margin-left: 5px;
  margin-right: 5px;
}

/** Social buttons **/
.btn-social-icon {
  border: 1px solid;
  border-radius: 0px;
  padding: 3px 8px;
}